<h1>First Angular Code</h1>
<login></login>
<signup></signup>
<input type="text"placeholder="enter your name"[(ngModel)]="name">
<h1>{{name}}</h1>
<ul>
    <li *ngFor="let name of studentNames">{{name}}

    </li>
</ul>
<h1>First Angular Code</h1>

<login></login>
<signup></signup>

<input
  type="text"
  placeholder="Enter your name"
  [(ngModel)]="name"
/>

<h1>{{ name }}</h1>

<ul>
  <li *ngFor="let student of studentNames">
    {{ student }}
  </li>
</ul>

<ul>
  <li *ngFor="let student of studentDetails">
    {{ student.name }},
    {{ student.age }},
    {{ student.city }}
  </li>
</ul>

<h1 *ngIf="show">
  The value of show is: {{ show }}
</h1>

<button (click)="ChangeShow()">
  Click Me
</button>